---
import { getCollection } from 'astro:content';
import BlogPostLayout from '../../layouts/BlogPostLayout.astro';

// 1. Generate a new path for every collection entry
export async function getStaticPaths() {
	const blogEntries = await getCollection('blog');
	return blogEntries.map((entry) => ({
		params: { slug: entry.slug },
		props: { entry },
	}));
}

// 2. For your template, you can get the entry directly from the prop
const { entry } = Astro.props;
const { Content } = await entry.render();
---

<BlogPostLayout frontmatter={entry.data}>
	<div class="mb-16 flex flex-col gap-2">
		<h1 class="mb-0 text-2xl font-medium leading-snug tracking-tight">{entry.data.title}</h1>
		<time datetime={entry.data.date.toISOString()} class="mb-0 mt-0 text-sm text-neutral-500">
			{
				entry.data.date.toLocaleDateString('en-us', {
					year: 'numeric',
					month: 'long',
					day: 'numeric',
				})
			}
		</time>
	</div>
	<Content />
</BlogPostLayout>
