@theme {
	--color-accent: light-dark(var(--color-sky-500), var(--color-sky-700));

	/* Background colors */
	--color-bgPrimary: light-dark(var(--color-white), var(--color-neutral-950));
	--color-bgSecondary: light-dark(
		var(--color-neutral-100),
		var(--color-neutral-900)
	);
	--color-bgTertiary: light-dark(
		var(--color-neutral-200),
		var(--color-neutral-800)
	);

	/* Text colors */
	--color-textPrimary: light-dark(
		var(--color-neutral-950),
		var(--color-neutral-100)
	);

	--color-textSecondary: light-dark(
		var(--color-neutral-700),
		var(--color-neutral-400)
	);

	--color-textTertiary: light-dark(
		var(--color-neutral-500),
		var(--color-neutral-500)
	);

	--color-textMuted: light-dark(
		var(--color-neutral-400),
		var(--color-neutral-600)
	);

	/* Icon colors */
	--color-iconPrimary: light-dark(
		var(--color-neutral-950),
		var(--color-neutral-100)
	);

	--color-iconSecondary: light-dark(
		var(--color-neutral-400),
		var(--color-neutral-500)
	);

	--color-iconTertiary: light-dark(
		var(--color-neutral-300),
		var(--color-neutral-700)
	);
}
