@font-face {
  font-family: 'Inter';
  src: url('/fonts/InterVariable.woff2') format('woff2');
  font-weight: 100 900;
  font-style: normal;
  font-feature-settings: 'case', 'calt', 'ss07', 'ss08';
}

@font-face {
  font-family: 'Geist Mono';
  src: url('/fonts/GeistMono[wght].woff2') format('woff2');
  font-weight: 100 900;
  font-style: normal;
}

@theme inline {
  --font-sans: 'Inter', sans-serif;
  --font-mono: 'Geist Mono', monospace;
}
