@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	font-family: Inter, sans-serif;
	font-feature-settings:
		'ss07',
		'ss08',
		'liga' 1,
		'calt' 1;
}

@supports (font-variation-settings: normal) {
	:root {
		font-family: InterVariable, sans-serif;
	}
}
