@import "reset.css";

@font-face {
  font-family: InterVariable;
  font-style: normal;
  font-weight: 100 900;
  font-display: auto;
  src: url("/fonts/InterVariable.woff2") format("woff2");
}

body {
  padding: 48px;
  font-family: InterVariable, sans-serif;
}
