@import 'tailwindcss';
@import './easings.css';

@custom-variant current (&:where([data-status="active"]));

@font-face {
  font-family: 'Inter';
  src: url('@/assets/fonts/InterVariable.woff2') format('woff2');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'IBM Plex Mono';
  src: url('@/assets/fonts/IBMPlexMono-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'IBM Plex Mono';
  src: url('@/assets/fonts/IBMPlexMono-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@theme inline {
  --font-sans: 'Inter', sans-serif;
  --font-mono: 'IBM Plex Mono', monospace;

  --font-weight-medium: 450;

  --font-sans--font-feature-settings: var(--font-features);

  --text-xs: 0.75rem;
  --text-xs--letter-spacing: 0.0012em;

  --text-sm: 0.8125rem;
  --text-sm--letter-spacing: 0.0012em;
  /*--text-sm--line-height: 1rem;*/

  --text-base: 0.9375rem;
  --text-base--letter-spacing: -0.0075em;
  /*--text-base--line-height: 1.25rem;*/

  --text-lg: 1.125rem;
  --text-lg--letter-spacing: -0.0075em;
  /*--text-lg--line-height: 1.375rem;*/

  --text-xl: 1.25rem;
  --text-xl--letter-spacing: -0.015em;
  /*--text-xl--line-height: 1.5rem;*/

  --text-2xl: 1.5rem;
  --text-2xl--letter-spacing: -0.02em;
  /*--text-2xl--line-height: 1.75rem;*/

  --color-electric-lime: oklch(94.3% 0.256 118);
  --color-neutral-450: oklch(63.2% 0 0);

  --text-color-primary: var(--color-neutral-950);
  --text-color-secondary: var(--color-neutral-600);
  --text-color-tertiary: var(--color-neutral-450);

  --max-width-container: 1280px;

  --animate-blink: blink 2s step-end infinite;
  --animate-fade-in-slide: fade-in-slide 350ms var(--ease-out-cubic) 175ms backwards;
  --animate-fade-out-slide: fade-out-slide 175ms var(--ease-in-cubic) forwards;
  --animate-fade-in: fade-in 600ms ease both;

  --default-transition-timing-function: var(--ease-out-quart);

  @keyframes blink {
    0%,
    100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }

  @keyframes fade-in-slide {
    from {
      opacity: 0;
      transform: translateY(8px);
    }
    to {
      opacity: 1;
      transform: translateY(0px);
    }
  }

  @keyframes fade-out-slide {
    from {
      opacity: 1;
      transform: translateY(0px);
    }
    to {
      opacity: 0;
      transform: translateY(-4px);
    }
  }

  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes fade-out {
    to {
      opacity: 0;
    }
  }
}

@layer base {
  :root {
    --top-offset: 6rem;
    --font-features: 'calt', 'ss07', 'ss08';
  }

  ::selection {
    background-color: var(--color-electric-lime);
    color: #000;
  }
}

@utility animation-delay-* {
  animation-delay: calc(--value(integer) * 1ms);
  animation-delay: --value([*]);
}

@utility corner-smooth {
  corner-shape: superellipse(1.25);
}

@utility text-sm {
  font-variation-settings: 'opsz' 18;
  --link-decoration-thickness: 1px;
  --link-decoration-offset: 2.5px;
}

@utility text-base {
  font-variation-settings: 'opsz' 24;
  --link-decoration-thickness: 1px;
  --link-decoration-offset: 3px;
}

@utility text-lg {
  font-variation-settings: 'opsz' 28;
  --link-decoration-thickness: 1.25px;
}

@utility text-xl {
  font-variation-settings: 'opsz' 32;
  --link-decoration-thickness: 1.5px;
  --link-decoration-offset: 4px;
}

@utility text-2xl {
  font-variation-settings: 'opsz' 32;
  --link-decoration-thickness: 1.75px;
  --link-decoration-offset: 5px;
}
