@import 'tailwindcss';
@import './easings.css';

@custom-variant current (&:where([data-status="active"]));

@custom-variant supports-corner-shape {
  @supports (corner-shape: squircle) {
    @slot;
  }
}

@font-face {
  font-family: 'Inter';
  src: url('@/assets/fonts/InterVariable.woff2') format('woff2');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'IBM Plex Mono';
  src: url('@/assets/fonts/IBMPlexMono-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'IBM Plex Mono';
  src: url('@/assets/fonts/IBMPlexMono-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@theme {
  --font-sans: 'Inter', sans-serif;
  --font-mono: 'IBM Plex Mono', monospace;

  --font-weight-medium: 450;

  --font-sans--font-feature-settings: var(--font-features);

  --color-electric-lime: oklch(94.3% 0.256 118);
  --color-neutral-450: oklch(63.2% 0 0);

  --text-color-primary: var(--color-neutral-950);
  --text-color-secondary: var(--color-neutral-600);
  --text-color-tertiary: var(--color-neutral-450);

  --max-width-container: 1280px;

  --animate-blink: blink 2s step-end infinite;
  --animate-fade-in-slide: fade-in-slide 350ms var(--ease-out-cubic) 175ms backwards;
  --animate-fade-out-slide: fade-out-slide 175ms var(--ease-in-cubic) forwards;
  --animate-fade-in: fade-in 600ms ease both;

  --default-transition-timing-function: var(--ease-out-quart);

  /* prettier-ignore */
  --shadow-icon:
    0 1px 2px 0 --alpha(black / 6%),
    0 2px 2px -1px --alpha(black / 4%),
    0 4px 8px -2px --alpha(black / 4%);

  @keyframes blink {
    0%,
    100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }

  @keyframes fade-in-slide {
    from {
      opacity: 0;
      transform: translateY(8px);
    }
    to {
      opacity: 1;
      transform: translateY(0px);
    }
  }

  @keyframes fade-out-slide {
    from {
      opacity: 1;
      transform: translateY(0px);
    }
    to {
      opacity: 0;
      transform: translateY(-4px);
    }
  }

  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes fade-out {
    to {
      opacity: 0;
    }
  }
}

@layer base {
  :root {
    --top-offset: 6rem;
    --font-features: 'calt', 'ss07', 'ss08';
  }

  ::selection {
    background-color: var(--color-electric-lime);
    color: #000;
  }
}

@utility animation-delay-* {
  animation-delay: calc(--value(integer) * 1ms);
  animation-delay: --value([*]);
}

@utility corner-smooth {
  corner-shape: superellipse(1.25);
}

@utility text-xs {
  letter-spacing: 0.0012em;
}

@utility text-sm {
  font-size: 0.8125rem;
  font-variation-settings: 'opsz' 18;
  letter-spacing: 0.0012em;
  --link-decoration-thickness: 1px;
  --link-decoration-offset: 2.5px;
}

@utility text-base {
  font-size: 0.9375rem;
  font-variation-settings: 'opsz' 24;
  letter-spacing: -0.005em;
  --link-decoration-thickness: 1px;
  --link-decoration-offset: 3px;
}

@utility text-lg {
  font-variation-settings: 'opsz' 28;
  letter-spacing: -0.005em;
  line-height: calc(1.75 / 1.25);
  --link-decoration-thickness: 1.25px;
}

@utility text-xl {
  font-variation-settings: 'opsz' 28;
  letter-spacing: -0.015em;
  --link-decoration-thickness: 1.5px;
  --link-decoration-offset: 4px;
}

@utility text-2xl {
  font-variation-settings: 'opsz' 32;
  letter-spacing: -0.02em;
  --link-decoration-thickness: 1.75px;
  --link-decoration-offset: 5px;
}

@utility text-3xl {
  letter-spacing: -0.025em;
}
