@import "reset.css";

@font-face {
  font-family: InterVariable;
  font-style: normal;
  font-weight: 100 900;
  font-display: auto;
  src: url("/fonts/InterVariable.woff2") format("woff2");
}

:root {
  --text-primary: rgb(0 0 0 / 95%);
  --text-secondary: hsl(0 0% 40%);
  --text-tertiary: hsl(0 0% 75%);

  --bg-primary: hsl(0 0% 100%);
  --bg-tertiary: hsl(0 0% 98%);
  --bg-tertiary-hover: hsl(0 0% 95%);

  --color-border: hsl(0 0% 93%);

  --padding: 1.5rem;

  @media (prefers-color-scheme: dark) {
    --text-primary: rgb(255 255 255 / 95%);
    --text-secondary: hsl(0 0% 50%);
    --text-tertiary: hsl(0 0% 20%);

    --bg-primary: hsl(0 0% 4%);
    --bg-tertiary: hsl(0 0% 7%);
    --bg-tertiary-hover: hsl(0 0% 10%);

    --color-border: hsl(0 0% 12%);
  }

  @media (min-width: 768px) {
    --padding: 3rem;
  }
}

body {
  padding: var(--padding);
  font-family: InterVariable, sans-serif;
  font-feature-settings: "calt", "dlig";
  color: var(--text-primary);
  background-color: var(--bg-primary);
}
