@import 'reset.css';

@font-face {
	font-family: InterVariable;
	font-style: normal;
	font-weight: 100 900;
	font-display: auto;
	src: url('/fonts/InterVariable.woff2') format('woff2');
}

:root {
	--padding: 2rem;

	--text-primary: rgb(0 0 0 / 95%);
	--text-secondary: hsl(0 0% 40%);
	--text-tertiary: hsl(0 0% 75%);
	--text-inverse: hsl(0 0% 100%);

	--bg-primary: hsl(0 0% 100%);
	--bg-tertiary: hsl(0 0% 98%);
	--bg-tertiary-hover: hsl(0 0% 95%);
	--bg-inverse: hsl(0 0% 5%);
	--bg-inverse-hover: hsl(0 0% 10%);

	--color-border: hsl(0 0% 93%);
	--color-selection: oklch(59% 0.111 174 / 10%);

	@media (prefers-color-scheme: dark) {
		--text-primary: oklch(98% 0.01 174.2);
		--text-secondary: oklch(60% 0.015 174);
		--text-tertiary: oklch(35% 0.015 174);
		--text-inverse: hsl(0 0% 0%);

		--bg-primary: oklch(13% 0.02 174);
		--bg-tertiary: oklch(18% 0.007 174);
		--bg-tertiary-hover: oklch(22% 0.009 174);
		--bg-inverse: hsl(0 0% 95%);
		--bg-inverse-hover: hsl(0 0% 90%);

		--color-border: hsl(0 0% 12%);
		--color-selection: oklch(85% 0.1 174 / 10%);
	}
}

body {
	padding: var(--padding);
	padding-top: 5rem;
	font-family: InterVariable, sans-serif;
	font-feature-settings: 'calt', 'dlig';
	color: var(--text-primary);
	background-color: var(--bg-primary);
}

::selection {
	background-color: var(--color-selection);
}

@media (prefers-color-scheme: dark) {
	::selection {
		color: oklch(70% 0.04 174);
		background-color: var(--color-selection);
	}

	h1::selection {
		color: oklch(95% 0.05 174.2);
		background-color: var(--color-selection);
	}
}
