---
const version = __APP_VERSION__;
---

<footer
	class="group mt-16 flex flex-col items-baseline justify-start gap-6 border-t border-neutral-100 py-8 dark:border-neutral-900"
>
	<a
		href="https://github.com/nikitapashinsky/nkta.me/releases"
		target="_blank"
		title="View releases on GitHub"
		class="select-none rounded-lg bg-neutral-100 px-2 py-1 font-mono text-xs font-medium text-neutral-500 transition-shadow hover:bg-neutral-200 hover:text-neutral-900 focus-visible:outline-none focus-visible:ring-[3px] active:bg-neutral-200 active:text-neutral-900 dark:bg-neutral-900 dark:text-neutral-500 dark:hover:bg-neutral-800 dark:hover:text-neutral-100 dark:active:bg-neutral-800 dark:active:text-neutral-100"
	>
		<span class="mr-[1.5px]">v</span>{version}
	</a>
	<p class="text-xs leading-normal text-neutral-500">
		This website doesn't use analytics or track you in any way. I&nbsp;hope you're having a good
		day, wherever you are!
	</p>
</footer>
