---
import { getLatestTag } from '../../utils/getGithubTags';
const version = getLatestTag();
---

<footer
	class="group mt-16 flex flex-col items-baseline justify-start gap-6 border-t border-neutral-100 py-8 dark:border-neutral-900"
>
	<a
		href="https://github.com/nikitapashinsky/nkta.me/commits/main"
		target="_blank"
		title="View releases on GitHub"
		class="text-textTertiary hover:text-textPrimary focus-visible:ring-accent focus-visible:text-textPrimary focus-visible:ring-3 select-none rounded-lg bg-neutral-100 px-2 py-1 font-mono text-xs font-medium transition-shadow hover:bg-neutral-200 focus-visible:outline-none active:bg-neutral-200 dark:bg-neutral-900 dark:hover:bg-neutral-800 dark:active:bg-neutral-800"
	>
		<span class="mr-[1.5px]">v</span>{version}
	</a>
	<p class="text-textTertiary max-w-md text-sm leading-relaxed">
		This website doesn't use analytics or track you in any way.<br />I&nbsp;hope
		you're having a good day, wherever you are!
	</p>
</footer>
