---
import { getCollection } from 'astro:content';

import Layout from '~/layouts/Layout.astro';
import Intro from '~/components/Intro.astro';
import ProjectItem from '~/components/ProjectItem.astro';

const portfolioItems = await getCollection('projects');
---

<Layout>
	<div
		class:list={[
			'mx-auto grid max-w-container',
			'p-4 md:p-6',
			'grid-cols-2 md:grid-cols-12',
			'gap-4',
		]}
	>
		<!-- Sidebar -->
		<div
			class:list={[
				'flex h-[75svh] flex-col gap-6',
				'items-center justify-center md:items-start md:justify-start',
				'col-span-full md:col-span-4',
				'md:sticky md:top-6 md:h-[calc(100svh-3rem)]',
			]}
		>
			<Intro />
		</div>

		<!-- Projects -->
		<div
			class:list={[
				'flex flex-col items-center',
				'col-start-1 md:col-start-6 lg:col-start-5 xl:col-start-5',
				'col-span-full',
				'gap-4 md:gap-6',
			]}
		>
			{portfolioItems.map((item) => <ProjectItem project={item.data} />)}
		</div>
	</div>
</Layout>
