---
import { Icon } from "astro-icon/components";
import data from "../data/socials.json";
import Layout from "../layouts/Layout.astro";
import SocialLink from "../components/SocialLink.astro";
---

<Layout title="Nikita Pashinsky">
  <div class="flex flex-col gap-16">
    <div class="flex flex-col gap-12">
      <div class="flex flex-col gap-4">
        <h1 class="text-2xl leading-snug tracking-tight">
          Hi&thinsp;—&thinsp;thanks for stopping by.
        </h1>
        <p class="text-2xl leading-snug tracking-tight">
          I'm Nikita, a designer focused on crafting beautiful and functional
          software.
        </p>
      </div>
      <div class="flex flex-col gap-4">
        <a
          href="mailto:nikitapashinsky@gmail.com"
          class="inline-block w-fit rounded-lg bg-lime-300 px-3 py-2 text-base font-semibold"
          >Send me an email</a
        >
        <small class="max-w-[16rem] text-sm leading-normal text-stone-500"
          >Reach out if you need help with a&nbsp;project, or just want to chat.</small
        >
      </div>
    </div>
    <div class="flex flex-col gap-2 border-t border-stone-200 pt-8">
      {
        data.socials.map(({ link, title, subtitle }) => (
          <SocialLink {link} {title} {subtitle}>
            <Icon
              name={title}
              size="24"
              class="text-stone-500 group-hover:text-stone-800"
            />
          </SocialLink>
        ))
      }
    </div>
  </div>
</Layout>

<style></style>
