---
import { Icon } from 'astro-icon/components';
import { Image } from 'astro:assets';
import SocialLink from '../components/SocialLink.astro';
import { socials } from '../data/contact';
import pfp from '../images/me-288px.webp';
import Layout from '../layouts/BaseLayout.astro';
---

<Layout title="Nikita Pashinsky">
	<div class="flex flex-col gap-16">
		<div class="flex flex-col gap-4 text-2xl font-medium leading-snug tracking-tight">
			<h1>Hi&thinsp;—&thinsp;thanks for stopping by.</h1>
			<p>
				I'm <Image
					src={pfp}
					width={24}
					densities={[1.5, 2, 3]}
					class="-mt-1 ml-1 inline rounded-full"
					alt="That's me!"
				/>&nbsp;Nikita, a designer focused on crafting beautiful software.
			</p>
			<p>
				Currently <Icon name="WorkBadge" />&nbsp;Product Designer at&nbsp;<a
					href="https://piano.io"
					target="_blank"
					class="decoration-2 underline-offset-[4px]">Piano</a
				>, based in <Icon name="Location" />&nbsp;Amsterdam.
			</p>
		</div>
		<div class="-ml-2 flex flex-col">
			{
				socials.map(({ link, title, subtitle }) => {
					return <SocialLink {link} {title} {subtitle} />;
				})
			}
		</div>
	</div>
</Layout>

<style>
	[data-icon='WorkBadge'] {
		@apply -ml-[2px] -mr-[3px] -mt-[5px] inline text-cyan-500 dark:text-cyan-400;
	}

	[data-icon='Location'] {
		@apply -mr-1 -mt-1 inline text-blue-600 dark:text-blue-500;
	}
</style>
