---
import { getCollection } from "astro:content";
import { twJoin } from "tailwind-merge";

import { SocialLinks } from "@/components/react/SocialLinks";
import Layout from "@/layouts/Layout.astro";
import WorkItem from "@/components/WorkItem.astro";

const workCollection = await getCollection("work");
---

<Layout title="Nikita Pashinsky">
  <div
    class={twJoin(
      "col-span-full row-start-2",
      "grid grid-cols-subgrid gap-y-20 md:gap-y-[calc(var(--top-offset)+1.5rem)]",
    )}
  >
    <div class={"col-span-full flex flex-col gap-6"}>
      <p class={twJoin("text-xl text-balance md:text-2xl")}>
        I’m a designer focused on crafting high-quality software. Currently
        leading product design on Composer at <a href="https://piano.io"
          >Piano</a
        >.
      </p>
      <SocialLinks className={"md:hidden"} />
    </div>
    <div class={"col-span-full flex flex-col gap-4 md:gap-6"}>
      {
        workCollection.map(({ data: project }) => (
          <WorkItem project={project} />
        ))
      }
    </div>
  </div>
</Layout>
