---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Nikita Pashinsky">
  <div
    class="col-span-full grid gap-12 text-4xl font-bold leading-snug tracking-tight selection:bg-lime-300 md:col-span-3 md:col-start-2"
  >
    <div class="flex flex-col gap-4">
      <p>
        I'm Nikita, a designer focused on crafting beautiful and functional
        interfaces.
      </p>
      <p>
        Currently I live in Amsterdam, The Netherlands, and work at <a
          href="https://piano.io"
          target="_blank">Piano</a
        >.
      </p>
    </div>

    <a
      href="mailto:nikitapashinsky@gmail.com"
      class="-ml-3 inline-block w-fit rounded-xl bg-lime-300 px-3 py-1 font-bold text-gray-900 no-underline transition-all hover:scale-105 active:scale-100"
      >Send me an email</a
    >
  </div>
</Layout>

<style></style>
