---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <main
    class="flex h-screen min-h-screen max-w-xs flex-col items-start justify-start gap-2 p-4 text-sm antialiased"
  >
    <h1 class="font-medium">Hi, I'm Nikita Pashinsky.</h1>
    <p class="">
      Welcome to my personal website. Not much to see here yet. I'm working on
      it. Please check back later :-)
    </p>
  </main>
</Layout>

<style></style>
