---
import { Icon } from 'astro-icon/components';
import { socials } from '../data/contact';
import Layout from '../layouts/Layout.astro';
import SocialLink from '../components/SocialLink.astro';
import ProfilePicture from '../components/ProfilePicture';

const isDev = import.meta.env.DEV;
---

<Layout title="Nikita Pashinsky">
	<div class="flex max-w-sm flex-col gap-16">
		<div class="flex flex-col gap-8">
			<div
				class="flex flex-col gap-4 text-2xl font-medium leading-snug tracking-tight"
			>
				<h1>Hi&thinsp;—&thinsp;thanks for stopping by.</h1>
				<p>
					I'm <span
						class="relative top-[3px] ml-[2px] inline-flex h-6 w-6 items-center justify-center"
						><ProfilePicture client:only="react" /></span
					> Nikita, a designer focused on crafting beautiful software.
				</p>
				<p>
					Currently <Icon
						name="WorkBadge"
						class="-ml-[2px] -mr-[2px] -mt-1 inline text-cyan-500 dark:text-cyan-400"
					/> Product Designer at&nbsp;<a
						href="https://piano.io"
						target="_blank"
						class="decoration-2">Piano</a
					>, based in <Icon
						name="Umbrella"
						class="-mr-1 -mt-1 inline text-blue-600 dark:text-blue-500"
					/> Amsterdam.
				</p>
			</div>
			<!-- <p></p> -->
		</div>
		<div class="flex flex-col gap-2">
			{
				socials.map(({ link, title, subtitle }) => (
					<span class="-ml-2">
						<SocialLink {link} {title} {subtitle}>
							<Icon
								name={title}
								size="24"
								class="text-neutral-500 group-hover:text-neutral-900 dark:text-neutral-600 dark:group-hover:text-neutral-100"
							/>
						</SocialLink>
					</span>
				))
			}
		</div>
	</div>
</Layout>

<style></style>
