<div
	class="dark: dark:bg-bgSecondary bg-bgPrimary fixed bottom-2 right-2 z-50 rounded-xl text-3xl font-medium leading-none shadow-[0px_0px_0px_1px,0px_1px_1px_-0.5px,0px_3px_3px_-1.5px,0px_6px_6px_-3px,0px_12px_12px_-6px,0px_24px_24px_-12px] shadow-black/[0.06] dark:shadow-lg dark:shadow-black/15"
>
	<div class="hidden max-sm:flex">
		<div class="flex items-center justify-center px-3 pb-3 pt-2 font-mono">
			base
		</div>
		<div
			class="flex items-center self-stretch border-l border-neutral-200 px-3 text-base font-semibold dark:border-neutral-700"
		>
			0px+
		</div>
	</div>
	<div class="hidden sm:max-md:flex">
		<div class="flex items-center justify-center px-3 pb-3 pt-2 font-mono">
			sm
		</div>
		<div class="h-full min-h-full w-px bg-neutral-500"></div>
		<div
			class="flex items-center self-stretch border-l border-neutral-200 px-3 text-base font-semibold dark:border-neutral-700"
		>
			640px+
		</div>
	</div>
	<div class="hidden md:max-lg:flex">
		<div class="flex items-center justify-center px-3 pb-3 pt-2 font-mono">
			md
		</div>
		<div
			class="border-bgTertiary flex items-center self-stretch border-l px-3 text-base font-semibold"
		>
			768px+
		</div>
	</div>
	<div class="hidden lg:max-xl:flex">
		<div class="flex items-center justify-center px-3 py-2 pb-3 font-mono">
			lg
		</div>
		<div class="h-full min-h-full w-px bg-neutral-500"></div>
		<div
			class="flex items-center self-stretch border-l border-neutral-200 px-3 text-base font-semibold dark:border-neutral-700"
		>
			1024px+
		</div>
	</div>
	<div class="hidden xl:max-2xl:flex">
		<div class="flex items-center justify-center px-3 pb-3 pt-2 font-mono">
			xl
		</div>
		<div class="h-full min-h-full w-px bg-neutral-500"></div>
		<div
			class="flex items-center self-stretch border-l border-neutral-200 px-3 text-base font-semibold dark:border-neutral-700"
		>
			1280px+
		</div>
	</div>
	<div class="hidden 2xl:flex">
		<div class="flex items-center justify-center px-3 pb-3 pt-2 font-mono">
			2xl
		</div>
		<div class="h-full min-h-full w-px bg-neutral-500"></div>
		<div
			class="flex items-center self-stretch border-l border-neutral-200 px-3 text-base font-semibold dark:border-neutral-700"
		>
			1536px+
		</div>
	</div>
</div>
