<div
  class="fixed bottom-0 right-0 z-50 bg-neutral-900 px-4 py-2 text-2xl font-semibold text-white"
>
  <span class="hidden max-sm:inline-block">base</span>
  <span class="hidden sm:max-md:inline-block">sm</span>
  <span class="hidden md:max-lg:inline-block">md</span>
  <span class="hidden lg:max-xl:inline-block">lg</span>
  <span class="hidden xl:max-2xl:inline-block">xl</span>
  <span class="hidden 2xl:inline-block">2xl</span>
</div>
