---
import { twMerge } from "tailwind-merge";
import type { SvgComponent } from "astro/types";
import Link from "./Link.astro";

interface Props {
  icon: SvgComponent & ImageMetadata;
  hoverIcon?: SvgComponent & ImageMetadata;
  brandColor?: string;
  name: string;
  url: string;
}

const { icon: Icon, hoverIcon: HoverIcon, brandColor, name, url } = Astro.props;
---

<li>
  <Link href={url} class="group flex items-center gap-2 py-1.5">
    <div class="flex size-5 items-center justify-center">
      <Icon
        style={{
          "--credit-color": brandColor ?? "var(--color-neutral-950)",
        } as React.CSSProperties}
        class={twMerge(
          "size-full fill-neutral-400 group-hover:fill-(--credit-color) group-active:fill-(--credit-color)",
          HoverIcon && "group-hover:hidden group-active:hidden",
        )}
      />
      {
        HoverIcon && (
          <HoverIcon class="hidden size-full group-hover:block group-active:block" />
        )
      }
    </div>
    {name}
  </Link>
</li>
