<button data-copy-email>Copy</button>

<script>
  async function copyEmail() {
    try {
      await navigator.clipboard.writeText("nikitapashinsky@gmail.com");
    } catch (error: any) {
      console.error(error.message);
    }
  }

  const button = document.querySelector("[data-copy-email]");

  button?.addEventListener("click", () => {
    copyEmail();

    button.textContent = "Copied";
    setTimeout(() => {
      button.textContent = "Copy";
    }, 1500);
  });
</script>

<style>
  button {
    border: none;
    outline: none;
    padding: 2px 8px;
    font-weight: 500;
    color: rgb(0 0 0 / 75%);
    border-radius: 6px;
    background-color: rgb(0 0 0 / 3%);

    @media (hover: hover) {
      &:hover {
        color: rgb(0 0 0 / 90%);
        background-color: rgb(0 0 0 / 5%);
      }
    }
  }
</style>
