<button data-copy-email>Copy</button>

<script>
  async function copyEmail() {
    try {
      await navigator.clipboard.writeText("nikitapashinsky@gmail.com");
    } catch (error: any) {
      console.error(error.message);
    }
  }

  const button = document.querySelector("[data-copy-email]");

  button?.addEventListener("click", () => {
    copyEmail();

    button.textContent = "Copied";
    setTimeout(() => {
      button.textContent = "Copy";
    }, 1500);
  });
</script>

<style>
  button {
    border: none;
    outline: none;
    padding: 2px 8px;
    color: var(--text-secondary);
    border-radius: 6px;
    background-color: var(--bg-tertiary);
    transition:
      color 180ms ease,
      background-color 180ms ease,
      scale 180ms ease;

    &:active {
      scale: 0.9;
    }

    &:focus-visible {
      outline: 1px solid var(--text-secondary);
    }

    @media (hover: hover) {
      &:hover {
        color: var(--text-primary);
        background-color: var(--bg-tertiary-hover);
      }
    }
  }
</style>
