---
import type { HTMLAttributes } from "astro/types";
import { twJoin, twMerge } from "tailwind-merge";
import { Clock } from "@/components/react/Clock";
import { CarouselPopover } from "./react/CarouselPopover";
import Carousel from "./Carousel.astro";
import Link from "./Link.astro";

type Props = HTMLAttributes<"div">;

const { class: className, ...attrs } = Astro.props;
---

<div
  class={twMerge("flex h-fit min-h-0 flex-col gap-3 text-sm", className)}
  {...attrs}
>
  <div class={"flex items-center gap-3 text-tertiary"}>
    <Link href="/credits" class="shrink-0"> Credits </Link>
    <Link href="https://github.com/nikitapashinsky/nkta.me" class="shrink-0">
      Source code
    </Link>
  </div>
  <div class={twJoin("flex items-center gap-1 text-tertiary")}>
    <div class="tabular-nums">
      <Clock client:load transition:persist />
    </div>
    <span class={"shrink-0"}>here in</span>
    <CarouselPopover client:load transition:persist>
      <Carousel />
    </CarouselPopover>
  </div>
</div>
