---
import Links from './Links.astro';
---

<div
	class:list={[
		'flex w-full flex-col gap-8 p-6',
		'lg:fixed lg:h-full lg:w-[320px] lg:justify-between',
	]}
>
	<div class="flex flex-col">
		<h1>Nikita Pashinsky</h1>
		<p class="text-balance">
			I’m a product designer focused on crafting beautiful and intuitive interfaces.
		</p>
	</div>
	<Links class="slideIn-links" />
</div>

<style>
	h1 {
		will-change: transform;

		font-size: 1rem;
		font-weight: 500;
		letter-spacing: -0.015em;

		opacity: 0;
		animation: 1s 200ms slide-in cubic-bezier(0.32, 0.72, 0, 1) forwards;
	}

	p {
		will-change: transform;

		margin-top: 0.375rem;
		max-width: 400px;

		font-size: 1rem;
		letter-spacing: -0.0075em;

		color: var(--text-secondary);

		opacity: 0;
		animation: 1s 300ms slide-in cubic-bezier(0.32, 0.72, 0, 1) forwards;
	}

	.slideIn-status {
		opacity: 0;
		animation: 1s 400ms slide-in cubic-bezier(0.32, 0.72, 0, 1) forwards;
	}

	@keyframes slide-in {
		from {
			transform: translateY(48px);
			opacity: 0;
			filter: blur(5px);
		}

		to {
			transform: translateY(0);
			opacity: 1;
			filter: blur(0px);
		}
	}

	pre {
		color: white;
	}

	.slideIn-links {
		> * {
			opacity: 0;
			animation: 1s 500ms slide-in cubic-bezier(0.32, 0.72, 0, 1) forwards;

			&:nth-child(2) {
				animation-delay: 600ms;
			}

			&:nth-child(3) {
				animation-delay: 700ms;
			}

			&:nth-child(4) {
				animation-delay: 800ms;
			}

			&:nth-child(5) {
				animation-delay: 900ms;
			}

			&:nth-child(6) {
				animation-delay: 1000ms;
			}
		}
	}
</style>
