---
import Link from './Link.astro';
import SocialLinks from './SocialLinks.astro';
---

<div class="flex flex-col gap-6">
	<div class="flex max-w-[40ch] flex-col gap-2 text-balance">
		<h1 class:list={['font-[550] tracking-tight', 'animate-fade-in-slide animation-delay-100']}>
			Nikita Pashinsky
		</h1>
		<p
			class:list={[
				'font-[450] tracking-tight text-neutral-600',
				'animate-fade-in-slide animation-delay-150',
			]}
		>
			I’m a product designer focused on crafting high-quality software. Currently leading product
			design on Composer at <Link href="https://piano.io" external>Piano</Link>.
		</p>
	</div>
	<SocialLinks />
</div>
