---
const { class: className, ...rest } = Astro.props;

const links = [
	{
		name: 'n@nkta.me',
		url: 'mailto:n@nkta.me',
	},
	{
		name: 'Twitter',
		url: 'https://twitter.com/nikitapashinsky',
	},
	{
		name: 'Figma',
		url: 'https://figma.com/@nkta',
	},
	{
		name: 'GitHub',
		url: 'https://github.com/nikitapashinsky',
	},
	{
		name: 'LinkedIn',
		url: 'https://www.linkedin.com/in/nikitapashinsky/',
	},
];
---

<div class:list={['links', className]} {...rest}>
	{
		links.map(({ name, url }) => (
			<a href={url} target="_blank">
				<div class="link">
					{name}
					<div class="arrow">↗</div>
				</div>
			</a>
		))
	}
</div>

<style>
	.links {
		display: flex;
		flex-direction: column;
		gap: 0.75rem;
		font-size: 0.875rem;
	}

	a {
		min-width: 0;
		width: fit-content;
		border-radius: 6px;
		text-decoration: none;
		user-select: none;

		&:focus-visible {
			outline: 1px solid var(--text-tertiary);
		}
	}

	.link {
		display: flex;
		align-items: center;
		gap: 6px;
		padding: 2px 8px;

		font-weight: 450;
		color: var(--text-secondary);
		border-radius: 6px;
		background-color: var(--bg-tertiary);
		will-change: transform;
		transition: all 200ms ease;

		> .arrow {
			font-weight: 500;
			color: var(--text-tertiary);
			transition: all 200ms ease;
		}

		@media (hover: hover) {
			a:hover & {
				translate: 0 -1.5px;
				scale: 1.0125;
				color: var(--text-primary);
				background-color: var(--bg-tertiary-hover);
				transition:
					all 200ms ease,
					color 50ms ease,
					background-color 50ms ease;

				> .arrow {
					color: var(--text-secondary);
					transform: translate(1.5px, -1.5px);
				}
			}
		}

		a:active > & {
			translate: 0 0;
			scale: 1;
		}
	}
</style>
