---
import type { CollectionEntry } from 'astro:content';

interface Props {
	project: CollectionEntry<'projects'>['data'];
}

const { project } = Astro.props;
---

<div
	class:list={[
		'flex aspect-16/10 w-full flex-1 items-center justify-center',
		'animate-fade-in bg-neutral-50 p-6 animation-delay-500 md:p-10',
	]}
>
	<div
		class:list={[
			'relative h-fit w-fit [--small:640px]',
			project.title === 'Animated sidebar icon' && 'md:max-w-(--small) md:p-px',
			project.title === 'Branch menu interaction' && 'md:max-w-(--small)',
		]}
	>
		<div
			class:list={[
				'absolute inset-0 rounded-xs ring-[0.5px] ring-black/8 ring-inset',
				'md:ring-1 md:ring-black/5',
			]}
		>
		</div>
		<video
			autoplay
			loop
			muted
			playsinline
			preload="metadata"
			width={project.width}
			height={project.height}
			src={project.src}
			class={'rounded-xs'}></video>
	</div>
</div>
