---
import { Icon } from 'astro-icon/components';
const { icon, link, title, subtitle } = Astro.props;
---

<a
	href={link}
	target="_blank"
	class="group relative flex flex-1 gap-3 rounded-xl px-2 py-4 text-sm after:absolute after:left-0 after:top-1 after:-z-10 after:h-[calc(100%-8px)] after:w-full after:rounded-xl after:ring-offset-0 after:transition-shadow hover:after:bg-neutral-100 focus-visible:outline-none focus-visible:after:ring-[3px] active:after:bg-neutral-100 dark:hover:after:bg-neutral-900 dark:active:after:bg-neutral-900"
>
	<Icon
		name={icon}
		size="24"
		fill="transparent"
		class="text-textTertiary group-hover:text-textPrimary group-active:text-textPrimary"
	/>
	<div class="flex flex-col">
		<span
			class="text-textSecondary group-hover:text-textPrimary group-active:text-textPrimary font-medium leading-[24px]"
		>
			{title}
		</span>
		<span
			class="text-textTertiary group-hover:text-textSecondary group-active:text-textSecondary"
		>
			{subtitle}
		</span>
	</div>
</a>
