@import 'tailwindcss';

@font-face {
	font-family: InterVariable;
	font-style: normal;
	font-weight: 100 900;
	font-display: swap;
	font-feature-settings: 'ss03';
	src: url('/fonts/InterVariable.woff2') format('woff2');
}

@theme {
	--text-base--line-height: 1.5rem;
	--text-sm--line-height: 1.25rem;

	--default-transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

@layer base {
	body {
		font-family: InterVariable, sans-serif;

		@apply text-base antialiased;
	}

	::selection {
		background-color: oklch(95% 0.205 118);
		color: #000;
	}
}

@keyframes blink {
	0%,
	100% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
}

.colon-blink {
	animation: blink 2s step-end infinite;
}
