---
import BaseLayout from './BaseLayout.astro';
const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>
	<a
		href="/"
		class="-ml-2 flex max-w-min items-baseline gap-2 rounded-lg px-2 pb-[5px] pt-1 text-sm font-medium text-neutral-500 transition-all duration-150 hover:bg-neutral-100 hover:text-neutral-900 active:scale-95 active:bg-neutral-100 active:text-neutral-900 dark:hover:bg-neutral-800 dark:hover:text-neutral-100 dark:active:bg-neutral-800 dark:active:text-neutral-100"
	>
		Back
	</a>
	<article class="prose prose-neutral dark:prose-invert mt-8">
		<slot />
	</article>
</BaseLayout>
