---
import "../styles/global.css";
import Breakpoint from "../components/Breakpoint.astro";
import "@fontsource-variable/jetbrains-mono";

interface Props {
  title: string;
}

const { title } = Astro.props;

const isDev = import.meta.env.DEV;

const version = __APP_VERSION__;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta
      name="viewport"
      content="viewport-fit=cover, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preconnect" href="https://rsms.me/" />
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <script>
      document.addEventListener("touchstart", function () {}, false);
    </script>
  </head>
  <body
    class="flex flex-col gap-16 bg-[#F5F3F2] px-6 pt-16 font-medium text-stone-800 antialiased selection:bg-lime-300 sm:max-w-md sm:px-12"
  >
    <main class="">
      <slot />
    </main>
    <footer
      class="flex flex-col items-baseline justify-start gap-4 border-t border-stone-200 py-8"
    >
      <a
        href="https://github.com/nikitapashinsky/nkta.me/releases"
        target="_blank"
        title="View releases on GitHub"
        class="rounded-lg bg-stone-200 px-2 py-1 font-mono text-sm font-semibold text-stone-400 hover:bg-stone-300 hover:text-stone-800"
      >
        <span class="mr-[1.5px]">v</span>{version}
      </a>
      <p class="text-sm text-stone-500">The only way out is through.</p>
    </footer>
    {isDev && <Breakpoint />}
  </body>
</html>
<style is:global></style>
