---
import { twJoin } from "tailwind-merge";

import "@/styles/global.css";

import Footer from "@/components/Footer.astro";
import Link from "@/components/Link.astro";
import Nav from "@/components/Nav.astro";
import { SocialLinks } from "@/components/react/SocialLinks";
import Head from "@/layouts/Head.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<html lang="en" transition:animate="none">
  <Head title={title} />
  <body class="bg-white font-sans text-base font-450 text-primary antialiased">
    <div
      class={twJoin(
        "mx-auto h-full max-w-container",
        "grid grid-cols-2 gap-x-4 p-4",
        "md:h-auto md:grid-cols-12 md:p-6",
        "lg:grid-cols-16",
      )}
    >
      {/* Sidebar */}
      <div
        class={twJoin(
          "col-span-full flex flex-col gap-4",
          "md:sticky md:top-6 md:col-span-4 md:h-[calc(100svh-3rem)]",
        )}
      >
        <div class={"flex h-(--top-offset) shrink-0 flex-col"}>
          <h1 class="font-medium will-change-transform animation-delay-100">
            <Link href="/">Nikita Pashinsky</Link>
          </h1>
          <p class={"text-secondary will-change-transform animation-delay-150"}>
            Interface designer
          </p>
        </div>

        <div class={"flex flex-1 flex-col justify-between gap-6 max-md:hidden"}>
          <Nav />

          <div class={"flex flex-col gap-6"}>
            <SocialLinks client:load transition:persist />
            <Footer />
          </div>
        </div>
      </div>

      {/* Main content */}
      <div
        class={twJoin(
          "grid grid-cols-subgrid",
          "col-span-full content-start gap-4",
          "col-start-1 md:col-start-5 lg:col-start-6",
          "md:grid-rows-[var(--top-offset)_1fr]",
        )}
      >
        <slot />
      </div>

      {/* Mobile footer */}
      <Footer class={"mt-20 md:hidden"} />
    </div>
  </body>
</html>
