---
import '~/styles.css';
import { Font } from 'astro:assets';

interface Props {
	title?: string;
}

const { title = 'Nikita Pashinsky' } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>{title}</title>
		<Font cssVariable="--font-inter" preload />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
	</head>
	<body>
		<slot />
	</body>
</html>
