---
import '@fontsource-variable/jetbrains-mono';
import '../styles/global.css';
import Breakpoint from '../components/Breakpoint.astro';
import Footer from '../components/Footer.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;

const isDev = import.meta.env.DEV;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta
			name="viewport"
			content="viewport-fit=cover, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"
		/>
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="preconnect" href="https://rsms.me/" />
		<link rel="stylesheet" href="https://rsms.me/inter/inter.css" />
		<meta name="generator" content={Astro.generator} />
		<title>
			{title}
		</title>
		<script>
			document.addEventListener('touchstart', function () {}, false);
		</script>
	</head>
	<body
		class="flex max-w-sm flex-col gap-16 px-6 pt-16 text-neutral-900 antialiased dark:bg-neutral-950 dark:text-neutral-100 sm:max-w-md sm:px-12"
	>
		{isDev && <Breakpoint />}
		<main>
			<slot />
		</main>
		<Footer />
	</body>
</html>
