---
import '~/styles.css';
import TailwindBreakpoint from '~/components/TailwindBreakpoint.astro';

interface Props {
	title?: string;
}

const { title = 'Nikita Pashinsky' } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>{title}</title>
		<link
			rel="preload"
			href="/fonts/InterVariable.woff2"
			as="font"
			type="font/woff2"
			crossorigin="anonymous"
		/>
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
	</head>
	<body ontouchstart="">
		<slot />
		{import.meta.env.DEV && <TailwindBreakpoint />}
	</body>
</html>
