---
import "../styles/global.css";
import "../components/Breakpoint.astro";
import Breakpoint from "../components/Breakpoint.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preconnect" href="https://rsms.me/" />
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body
    class="bg-stone-100 px-6 pt-16 text-gray-800 antialiased dark:bg-neutral-900 dark:text-neutral-50"
  >
    <main
      class="grid auto-rows-fr grid-cols-2 gap-6 sm:grid-cols-6 md:grid-cols-8 md:gap-6"
    >
      <slot />
    </main>
  </body>
</html>
<style is:global></style>
