---
import '../styles/global.css';
import Breakpoint from '../components/Breakpoint.astro';
import '@fontsource-variable/jetbrains-mono';

interface Props {
	title: string;
}

const { title } = Astro.props;

const isDev = import.meta.env.DEV;

const version = __APP_VERSION__;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta
			name="viewport"
			content="viewport-fit=cover, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"
		/>

		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="preconnect" href="https://rsms.me/" />
		<link rel="stylesheet" href="https://rsms.me/inter/inter.css" />
		<meta name="generator" content={Astro.generator} />
		<title>
			{title}
		</title>
		<script>
			document.addEventListener('touchstart', function () {}, false);
		</script>
	</head>
	<body
		class="flex flex-col gap-16 px-6 pt-16 text-neutral-900 antialiased dark:bg-neutral-950 dark:text-neutral-100 sm:max-w-md sm:px-12"
	>
		<main>
			<slot />
		</main>
		<footer
			class="flex flex-col items-baseline justify-start gap-4 border-t border-neutral-100 py-8 dark:border-neutral-900"
		>
			<a
				href="https://github.com/nikitapashinsky/nkta.me/releases"
				target="_blank"
				title="View releases on GitHub"
				class="select-none rounded-lg bg-neutral-100 px-2 py-1 font-mono text-xs font-semibold text-neutral-400 hover:bg-neutral-200 hover:text-neutral-900 dark:bg-neutral-900 dark:text-neutral-500 dark:hover:bg-neutral-800 dark:hover:text-neutral-100"
			>
				<span class="mr-[1.5px]">v</span>{version}
			</a>
		</footer>
		{isDev && <Breakpoint />}
	</body>
</html>
<style is:global></style>
